@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  /* --main-input-color: #EFEEEE; */
  /* --main-fg-color: #7159c1; */
  --main-bg-color: #EFEEEE;
  --main-text-color: #BAB7B8;
  --outer-box-shadow: 6px 6px 16px 0px rgba(217, 210, 200, 0.51), -6px -6px 26px 0px rgba(255, 255, 255, 0.83);
  --input-box-shadow: 4px 4px 10px 0px rgba(217, 210, 200, 0.51), -4px -4px 20px 0px rgba(255, 255, 255, 0.83);
  --outer-box-shadow-hover: 3px 3px 10px 0px rgba(217, 210, 200, 0.51), -3px -3px 10px 0px rgba(255, 255, 255, 0.83);
  /* --inner-box-shadow: inset 5px 5px 11px 0px rgba(217, 210, 200, 0.51), inset -5px -5px 11px 0px rgba(255, 255, 255, 0.83);
  --inner-box-shadow-click: inset 3px 3px 9px 0px rgba(217, 210, 200, 0.51), inset -3px -3px 9px 0px rgba(255, 255, 255, 0.83); */
  --main-border: 1px solid rgba(255, 255, 255, 0.2);
}

body {
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

body, button {
  font-family: 'Montserrat', sans-serif;
}

.K-Tune-3-hex { color: #6371BF; }
.K-Tune-4-hex { color: #24A676; }
.K-Tune-5-hex { color: #D9BCA3; }

.container {
  text-align: center;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  border-radius: 50px;
  -webkit-box-shadow: var(--outer-box-shadow);
  -moz-box-shadow: var(--outer-box-shadow);
  box-shadow: var(--outer-box-shadow);
  border: var(--main-border);
  width: 50%;
  margin: 20px;
  top: 20px;
  position: relative;
}

.head {
  margin-bottom: 50px;
}

.title {
  font-size: 48px;
  margin: 20px 0px 0px;
  font-weight: normal;
  color: var(--main-text-color);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.subtitle {
  font-size: 12px;
  color: var(--main-text-color);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 30px;
}

input {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  margin-bottom: 20px;
  border-radius: 20px;
  resize: none;
  padding: 10px;
  width: 70%;
  -webkit-box-shadow: var(--input-box-shadow);
  -moz-box-shadow: var(--input-box-shadow);
  box-shadow: var(--input-box-shadow);
  border: var(--main-border);
  font-weight: normal;
  letter-spacing: 4px;
}

.output {
  font-weight: bold;
}

input::placeholder {
  font-weight: normal;
  color: rgba(186, 183, 184, 0.4);
  letter-spacing: 2px;
}

ocus, button:focus, input:focus {
  outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance:textfield;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
}

button {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  -webkit-box-shadow: var(--input-box-shadow);
  -moz-box-shadow: var(--input-box-shadow);
  box-shadow: var(--input-box-shadow);
  padding: 10px 20px;
  border-radius: 20px;
  border: var(--main-border);
  cursor: pointer;
  position: relative;
}

button:hover {
  -webkit-box-shadow: var(--outer-box-shadow);
  -moz-box-shadow: var(--outer-box-shadow);
  box-shadow: var(--outer-box-shadow);
  transition: all 400ms;
}

button:active {
  background-color: var(--main-text-color);
  color: var(--main-bg-color);
  transition: all 200ms;
}

button:active.convert span {
  background: url(/img/convert-white.svg) no-repeat center;
  transition: all 200ms;
}

button:active.clipboard span {
  background: url(/img/clipboard-white.svg) no-repeat center;
  transition: all 200ms;
}

.buttons span {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
}

.convert span {
  background: url(/img/convert.svg) no-repeat center;
  top: 8px;
}

.clipboard span {
  background: url(/img/clipboard.svg) no-repeat center;
  top: 9px;
}

.warning {
  color: #FF0863;
}

/* MEDIA QUERIES */

/* DESKTOP > 1080px */
@media (min-width: 1080px) {
  .convert {
    width: 39%;
  }
  .clipboard {
    width: 58%;
  }
}

/* DESKTOP < 1080px */
@media (max-width: 1079px) {
  .container {
    width: 60%;
  }
  button {
    width: 100%;
    margin-bottom: 10px;
  }
  .buttons {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  input {
    width: 100%;
  }
}

/* DESKTOP < 420px */
@media (max-width: 419px) {
  .container {
    width: 70%;
  }
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 10px;
  }
}

/* DESKTOP < 340px */
@media (max-width: 339px) {
  .title {
    font-size: 34px;
  }
  .subtitle {
    font-size: 9px;
  }
}

/* < IPHONE 5 < IPHONE 6, 7 & 8 */
@media screen and (max-device-width : 370px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 10px;
  }
  input {
    width: 100%;
  }
  .buttons {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  button {
    margin-bottom: 10px;
    width: 100%;
    font-size: 10px;
  }
  .buttons span {
    width: 15px;
    height: 15px;
  }
  input::placeholder {
    font-size: 10px;
  }
}

/* IPHONE 5 */
@media screen and (device-aspect-ratio: 40/71) {
  .title {
    font-size: 30px;
  }
  .subtitle {
    font-size: 10px;
  }
  input {
    width: 100%;
    font-size: 9px;
  }
  .buttons {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  button {
    margin-bottom: 10px;
    width: 100%;
  }
}

/* IPHONE 6, 7 & 8 */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
  .title {
    font-size: 40px;
  }
  .subtitle {
    font-size: 10px;
  }
  input {
    width: 100%;
    font-size: 11px;
  }
  .buttons {
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
  }
  button {
    margin-bottom: 10px;
    width: 100%;
  }
}

/* IPHONE 6, 7 & 8 PLUS */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
  .title {
    font-size: 43px;
  }
  .subtitle {
    font-size: 11px;
  }
}

/* IPAD */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {
  button {
    width: 48%;
  }
}